<div class="task-viewer-heading">
  <h2>
    Room: {{room.name}}
    {{#if room.completed}}
      {{fa-icon 'check' class='checkmark'}}
    {{else}}
      {{fa-icon 'times' class='red-x'}}
    {{/if}}
    <button {{action 'delete' room}}>{{fa-icon 'trash'}} Delete Room</button>
    <button {{action 'toggleComplete' room}}>
      {{fa-icon 'home'}} Complete Room
    </button>
  </h2>
  <h3>Room Information</h3>
</div>

<div class="Rtable Rtable--4cols Rtable--collapse">

  <div class="Rtable-cell Rtable-cell--head">
    <h4>Location</h4>
  </div>
  <div class="Rtable-cell">
    {{#if room.location}}
      {{room.location}}
    {{else}}
      No Location Established!
    {{/if}}
    <span class='pencil' {{action 'toggleEditing'}}>{{fa-icon 'pencil'}}</span>
    {{#if editing}}
      {{input value=upRoom.location placeholder='put in dang location' enter='save'}}
    {{/if}}
  </div>
  <div class="Rtable-cell">
    <h4>Notes</h4>
  </div>
  <div class="Rtable-cell Rtable-cell--foot">
    {{#if room.notes}}
      {{room.notes}}
    {{else}}
      No Notes Established!
    {{/if}}
    <span class='pencil' {{action 'toggleEditing'}}>{{fa-icon 'pencil'}}</span>
    {{#if editing}}
      {{input value=upRoom.notes placeholder='put in dang notes' enter='save'}}
    {{/if}}
  </div>

  <div class="Rtable-cell Rtable-cell--head">
    <h4>Tasks for this Room:</h4>
  </div>
  <div class="Rtable-cell">
    {{#if room.tasks}}
    <ul>
      {{#each room.tasks as |task|}}
        {{#link-to 'task' task}}
          <li>
            {{task.name}}
            {{#if task.completed}}
              {{fa-icon 'check' class='checkmark'}}
            {{else}}
              {{fa-icon 'times' class='red-x'}}
            {{/if}}
          </li>
        {{/link-to}}
      {{/each}}
    </ul>
    {{else}}
      No Tasks Established!
    {{/if}}
  </div>

</div>
