<p>
  The task name: {{task.name}}
  {{#if task.notes}}
    Task Notes: {{task.notes}}
  {{/if}}
  {{#if editing}}
  {{input value=newNote.notes placeholder='task notes?' enter='save'}}
  {{/if}}
</p>

<button {{action 'toggleEditing'}}> {{fa-icon 'plus'}} Add Notes </button>

<h2>Responsive collapse (by row)</h2>
<div class="Rtable Rtable--4cols Rtable--collapse">

  <div class="Rtable-cell Rtable-cell--head"><h3>Eddard Stark</h3></div>
  <div class="Rtable-cell">Has a sword named Ice</div>
  <div class="Rtable-cell">No direwolf</div>
  <div class="Rtable-cell Rtable-cell--foot"><strong>Lord of Winterfell</strong></div>

  <div class="Rtable-cell Rtable-cell--head"><h3>Jon Snow</h3></div>
  <div class="Rtable-cell">Has a sword named Longclaw</div>
  <div class="Rtable-cell">Direwolf: Ghost</div>
  <div class="Rtable-cell Rtable-cell--foot"><strong>Knows nothing</strong></div>

</div>
