<h2 class='route-heading'>Your Rooms</h2>

<div class='plural-route-wrapper'>
  {{#each model as |room|}}
    <h3>
      {{#link-to 'room' room}}
        {{room.name}}
      {{/link-to}}
      {{#if room.completed}}
        {{fa-icon 'check' class='checkmark'}}
      {{else}}
        {{fa-icon 'times' class='red-x'}}
      {{/if}}
    </h3>
  {{/each}}

  {{#link-to "rooms.new"}}
    <button>{{fa-icon "plus"}} Room</button>
  {{/link-to}}

  {{outlet}}
</div>
